* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;

  //responsive
  &--xl {
    @include screen(small) {
      max-width: 650px;
    }
    @include screen(med) {
      width: 85%;
      max-width: 800px;
    }
    @include screen(lg) {
      max-width: 950px;
    }
    @include screen(xlg) {
      max-width: 1100px;
    }
    @include screen(xxlg) {
      max-width: 1200px;
    }
  }
}