#hero {
    height: 525px;
    color: $textColor--neg;
    position: relative;
    background-image: url('https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fcc-prod.scene7.com%2Fis%2Fimage%2FCCProdAuthor%2Fdt-ps-max-poster-image%3F%24pjpeg%24%26jpegSize%3D300%26wid%3D1440');
    background-size: contain;
    background-repeat: no-repeat;

    //responsive
    @include screen(small) {
        height: 650px;
        background-size: cover;
    }
    @include screen(xlg) {
        height: 700px;
    }
    
    .wrapper {
        background-color: $textColor;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 50px 0;

        //responsive
        @include screen(small) {
            background-color: transparent;
            top: 0;
            display: flex;
            align-items: center;
        }
    }

    p {
        font-size: $pM;
        padding: 20px 0;
        color: $textColor--neg;


        //responsive
        @include screen(small) {
            font-size: $pL;
        }
    }
}