h1, h2 {
    font-weight: $fontBold;
}

h2, h3, p {
    color: $textColor;
}

h1 {
    font-size: $headingM;
    
    //responsive
    @include screen(small) {
        font-size: $headingL;
    }
}

h2 {
    font-size: $headingS;
    margin-bottom: 15px;
}

p {
    font-size: $pS;
    //responsive
    @include screen(small) {
        font-size: $pM;
    }
}