h1, h2 {
    font-weight: $fontBold;
}

h2, h3, p {
    color: $textColor;
}

h1 {
    font-size: $headingM;
    
    //responsive
    @include screen(small) {
        font-size: $headingL;
    }
}

h2 {
    font-size: $headingS;
    margin-bottom: 15px;
}

p, a {
    font-size: $pS;
    //responsive
    @include screen(med) {
        font-size: $pM;
    }
}

a {
    display: inline-block;
    color: $primaryColor;
    margin-top: 15px;


    &:hover {
        color: $secondaryColor;
    }
}